local start_insert = function()
  if not vim.g.SessionLoad then vim.cmd "startinsert!" end
end

return {
  {
    "akinsho/toggleterm.nvim",
    version = "*",
    config = function()
      {{- if eq .chezmoi.os "windows" }}
      local powershell_options = {
        shell = "pwsh",
        shellcmdflag = "-NoLogo -NoProfile -ExecutionPolicy RemoteSigned -Command [Console]::InputEncoding=[Console]::OutputEncoding=[System.Text.Encoding]::UTF8;",
        shellredir = "-RedirectStandardOutput %s -NoNewWindow -Wait",
        shellpipe = "2>&1 | Out-File -Encoding UTF8 %s; exit $LastExitCode",
        shellquote = "",
        shellxquote = "",
      }

      for option, value in pairs(powershell_options) do
        vim.opt[option] = value
      end
      {{- end }}

      require("toggleterm").setup {
        open_mapping = "<F7>",
        terminal_mappings = false,
        insert_mappings = false,
        on_open = start_insert,
      }

      -- Exit terminal mode with <Esc>
      vim.keymap.set("t", "<Esc>", [[<C-\><C-n>]], { silent = true })

      -- Quick exit
      -- This interfers when navigating less in the integrated terminal.
      -- vim.keymap.set("t", "jk", [[<C-\><C-n>]], { silent = true })

      -- Enable <C-r> in terminal mode to paste from register, as in normal mode
      vim.keymap.set("t", "<C-r>", function()
        local next_char_code = vim.fn.getchar()
        local next_char = vim.fn.nr2char(next_char_code)
        return [[<C-\><C-n>"]] .. next_char .. "pi"
      end, { expr = true })

      vim.keymap.set(
        { "n", "t" },
        "<leader>tf",
        "<cmd>ToggleTerm direction=float<cr>",
        { silent = true, desc = "[T]oggle [f]oating terminal" }
      )

      vim.keymap.set(
        { "n", "t" },
        "<leader>tf",
        "<cmd>ToggleTerm direction=float<cr>",
        { silent = true, desc = "[T]oggle [f]oating terminal" }
      )

      vim.keymap.set(
        { "n", "t" },
        "<leader>tb",
        "<cmd>ToggleTerm size=10 direction=horizontal<cr>",
        { silent = true, desc = "[T]oggle [b]ottom terminal" }
      )

      vim.keymap.set(
        { "n", "t" },
        "<leader>ts",
        "<cmd>ToggleTerm size=80 direction=vertical<cr>",
        { silent = true, desc = "[T]oggle [s]ide terminal" }
      )

      -- local term_insert_group = vim.api.nvim_create_augroup("TermStartInsert", { clear = true })
      -- vim.api.nvim_create_autocmd("BufEnter", {
      --   callback = start_insert,
      --   group = term_insert_group,
      --   pattern = "term://*",
      -- })
    end,
  },
}
