{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $lanMouseHost := promptStringOnce . "lanMouse.hostname" "Hostname to connect to with lan-mouse" -}}
{{- $lanMouseDirection := promptStringOnce . "lanMouse.direction" "Direction for lan-mouse" -}}

[data]
    email = {{ $email | quote }}
    name = "Andy Bolton"
[data.lanMouse]
    host = {{ $lanMouseHost | quote }}
    direction = {{ $lanMouseDirection | quote }}

[edit]
    command = "nvim"

[cd]
    {{- if eq .chezmoi.os "windows" }}
    command = "pwsh"
    {{- end }}
    {{- if eq .chezmoi.os "linux" }}
    command = "fish"
    {{- end }}

[merge]
    command = "nvim"
    args = [
        "-d", 
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }}
    ]

[diff]
    pager = "delta"
