{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    name = "Andy Bolton"

[edit]
    command = "code"

[cd]
    {{- if eq .chezmoi.os "windows" }}
    command = "pwsh"
    {{- end }}
    {{- if eq .chezmoi.os "linux" }}
    command = "fish"
    {{- end }}

[merge]
    command = "code"
    args = ["--wait", "--merge"]
