{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    name = "Andy Bolton"

[edit]
    command = "nvim"

[cd]
    {{- if eq .chezmoi.os "windows" }}
    command = "pwsh"
    {{- end }}
    {{- if eq .chezmoi.os "linux" }}
    command = "fish"
    {{- end }}

[merge]
    command = "nvim"
    args = [
        "-d",
        "{{ .Destination }}",
        "{{ .Source }}",
        "{{ .Target }}"
    ]
