[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	editor = code --wait
	longpaths = true
[diff]
  	tool = meld 
[difftool "vscode"]
  	cmd = meld $LOCAL $REMOTE
[merge]
  	tool = vscode
[mergetool "vscode"]
	cmd = meld $REMOTE $LOCAL $BASE $MERGED
[push]
	autoSetupRemote = true
{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
{{- $ghCmd := eq .chezmoi.os "linux" | ternary (printf "!%s" $ghPath) "gh.exe" }}
[credential "https://github.com"]
	helper = {{ $ghCmd }} auth git-credential
[credential "https://gist.github.com"]
	helper = {{ $ghCmd }} auth git-credential
{{- end }}
[mergetool]
	keepBackup = false
[pull]
	rebase = false
