{{ if eq .chezmoi.os "windows" }}

function Install-Packages($Packages) {
    $args = ("-NoExit", "-Command", "choco", "install") + $Packages
    Start-Process pwsh -Wait -Verb RunAs -ArgumentList $args
}

{{ if eq .chezmoi.hostname "work" }} 
{{ $workPackages := list
    "\"azcopy10\"" 
    "\"azure-cli\""
    "\"azure-functions-core-tools\""
    "\"dbeaver\""
    "\"docker-desktop\""
    "\"dotnet-6.0-sdk-3xx\""
    "\"dotnet-7.0-aspnetruntime\""
    "\"dotnet-sdk\""
    "\"dotnet\""
    "\"DotNet4.6.1\""
    "\"dotnet4.7.2\""
    "\"dotnetcore-sdk\""
    "\"intellijidea-community\""
    "\"maven\""
    "\"microsoft-teams\""
    "\"plantronicshub\""
    "\"servicebusexplorer\""
    "\"visualstudio2022-workload-manageddesktop\""
    "\"visualstudio2022-workload-netweb\""
    "\"visualstudio2022professional\""
    "\"vswhere\""
    "\"wireguard\""
    | join ", " -}}

Install-Packages ({{ $workPackages }})

{{ end -}}
{{ if eq .chezmoi.hostname "personal" }}

{{ $personalPackages := list
    "\"nordvpn\""
    "\"steam-client\""
| join ", " -}}

Install-Packages ({{ $personalPackages }})

{{ end -}} 

{{ $commonPackages := list
    "\"7zip.install\""
    "\"bulk-crap-uninstaller\""
    "\"chezmoi\""
    "\"clink\""
    "\"curl\""
    "\"discord\""
    "\"Everything\""
    "\"filezilla\""
    "\"foobar2000\""
    "\"fzf\""
    "\"gh\""
    "\"git\""
    "\"golang\""
    "\"GoogleChrome\""
    "\"libreoffice-fresh\""
    "\"logitech-options\""
    "\"microsoft-windows-terminal\""
    "\"op\""
    "\"parsec\""
    "\"plexamp\""
    "\"powershell-core\""
    "\"starship\""
    "\"syncthing\""
    "\"ueli\""
    "\"vscode\""
    "\"wireshark\""
| join ", " -}}

Install-Packages ({{ $commonPackages }})

{{ end -}}
