{{ if eq .chezmoi.os "windows" }}

function Install-Packages($Packages) {
    $args = ("-NoExit", "-Command", "choco", "install") + $Packages
    Start-Process pwsh -Wait -Verb RunAs -ArgumentList $args
}

$PackagesSourcePath = "$(chezmoi source-path)/packages/windows/chocolatey/"

Install-Packages (Get-Content "$PackagesSourcePath/common.txt")

{{ if eq .chezmoi.hostname "work" }} 
Install-Packages (Get-Content "$PackagesSourcePath/work.txt")
{{ end -}}

{{ if eq .chezmoi.hostname "personal" }}
Install-Packages (Get-Content "$PackagesSourcePath/personal.txt")
{{ end -}} 

{{ end -}}
