release_bind = [ "KeyA", "KeyS", "KeyD", "KeyF" ]

port = 4242
frontend = "cli"

[{{ .chezmoi.config.data.lanMouse.direction }}]
hostname = {{ .chezmoi.config.data.lanMouse.host | quote }}
activate_on_startup = true
ips = []

