fish_add_path ~/smartwyre/smartwyre-infra/scripts
fish_add_path ~/.local/bin
fish_add_path ~/bin

set -Ux BROWSER wslview

alias cm="chezmoi"
alias cma="chezmoi apply --verbose"
alias cmad="chezmoi apply --verbose --dry-run"
alias bfg="java -jar /usr/share/java/bfg-1.14.0.jar"

function add -a message
    set branch (git branch | grep \* | cut -d ' ' -f2)
    set match (string match --groups-only -r '(?i)(smart|ops-\d+)' $branch)
    if set -q match
        set commit "$match: $message"
    else
        set commit "$message"
    end 
    git commit -am "$commit"
    echo "Commited with message: $message"
end

function addp -a message
    add $message
    git push
end

function starship_transient_prompt_func
    starship module character
end

function jit_and_conn
	vm_jit_request_access.sh $argv && ssh $argv
end

function set_mtu 
	sudo ip link set dev eth0 mtu 1420
end

if status is-login
    cd ~/
end

if status is-interactive
    # Commands to run in interactive sessions can go here >
end

starship init fish | source
enable_transience
