#!/bin/bash

sudo apt-get update

{{ $packages := list
    "ca-certificates"
    "dnsutils" 
    "gdb"
    "gpg"
    "nmap"
    "unzip"
    "wget"
    "make"
    "whois" -}}

sudo apt-get install -y {{ $packages | join " " }}

